/* This universal selector will have all elements to include padding and border to their total width and height*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* Body selector has background-color property to which it will add a shade of white to the background*/
body {
    background-color: #d9dcd6;
}


/*The header class has a padding property of 20px, a green shade for a background color, their text for a white shade a color
and the font Trebuchet MS as it's primary font with 4 additional fonts to fallback on in case their primary font is unavailable */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*The header class and the h1 element has their display property to inline-block and their font size to 48px*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}
/*The header class and the h1 element as well as their seo class has a text color in a shade of white*/
.header h1 .seo {
    color: #d9dcd6;
}
/*The header class and the nav element have the padding-top property to 15 px, margin-right to 20px
the information held in these selectors will float to the right with a font size of 20px. 
The text held in these selectors have a Gill Sans as their primary font */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*The header class, nav element, and the ul element will have their bullet points hidden 
due to the property set to none next to list-style-type*/
.header nav ul {
    list-style-type: none;
}

/*The header class, nav element, ul element, and li element will have the property of display to inline-block
and will set the left margin to 25px */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*All anchor elements will have a text color in a shade of white with no text-decoration*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* The hero class adds a background image with multiple properties such as
a height of 800px, a width of 100%, the bottom margin will be set to 25px, 
the background size will be set to cover so it can cover the entire container
and will be centered.*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*All paragraph elements will have a font size of 16px*/
p {
    font-size: 16px;
}

/* The float-left class will have elements in the class float to the left 
with a right margin set to 25px*/

.float-left {
    float: left;
    margin-right: 25px;
}

/* The float-right class will have elements in the class float to the right 
with a left margin set to 25px*/
.float-right {
    float: right;
    margin-left: 25px;
}
/* The content class has a wdith set to 75 percent, a display of inline-block so
no linebreaks will occur in the page as well and the left margin is set to 20px */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/* The benefits class takes place in the aside section of the html page. This
will ensure that part of the page will float to the right with right margin
set to 20px, a padding of 20px, taking a 20% of the width and has a height of 100 perent.
This section will have a background color shade of blue. The clear property of both will ensure
the element is moved down to clear past the poth left and right floats. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/* This allows elements in the class to have a bottom margin set to 32px 
and a text color in a shade of white*/
.benefits-sections {
    margin-bottom: 32px;
    color: #ffffff;
}
/* This sets the h3 tags to have a bottom margin of 10px and to have the text centered.*/
.benefits-sections h3 {
    margin-bottom: 10px;
    text-align: center;
}
/* This has the img tags to have their display be changed from inline to block with a max width of 150px and the margin top and bottom set to 10px and the left and right margins
set to auto*/
.benefits-sections img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.main-section img {
    max-height: 200px;
}
.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
